<h1 mat-dialog-title>Mua chứng chỉ quỹ</h1>
<div mat-dialog-content>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-5">
          <h4 class="font-weight-bold text-center">Tên Mã</h4>
          <h5 class="font-weight-normal text-center">Người bán</h5>
        </div>
        <div class="col-lg-7">
          <div class="row">
            <div class="col-lg-4">
              <span>%(24h)</span>
              <h5 style="color: green">0.56</h5>
            </div>
            <div class="col-lg-4">
              <span>Giá bán</span>
              <p>10,000,000</p>
            </div>
            <div class="col-lg-4">
              <span>Số lượng</span>
              <p>10</p>
            </div>
          </div>
        </div>
      </div>
      <form class="form-sample">
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label>Số lượng muốn mua</label>
              <div>
                <input type="number" class="form-control" value="">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Thành tiền</label>
              <div>
                <input type="number" class="form-control" disabled />
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2 ">
          <ngb-accordion [closeOthers]="true" activeIds="static-3" class="accordion accordion-inverse-primary">
            <ngb-panel id="static-4">
              <ng-template ngbPanelTitle>
                <h6 class="mb-0">
                  Chọn loại thanh toán
                </h6>
              </ng-template>
              <ng-template ngbPanelContent>
                You can pay for the product you have purchased using credit cards, debit cards,
                or via online banking. We also provide cash-on-delivery services for most of our
                products. You can also use your account wallet for payment.
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
        <div class="form-row text-center">
          <div class="col-12">
            <button class="btn btn-primary btn-lg mr-2">Mua</button>
            <button class="btn btn-danger btn-lg" (click)="onNoClick()">Hủy</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>