<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Tạo bất động sản</h4>
        <form class="form-sample" (ngSubmit)="submit()" [formGroup]="estateForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Tên bất đông sản</label>
                <div>
                  <input type="text" formControlName="name" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Bạn chưa nhập tên bất động sản
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Số lượng</label>
                <div>
                  <input type="number" formControlName="amount" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.amount.errors }" placeholder="Số lượng mã muốn tạo" />
                  <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                    <div *ngIf="f.amount.errors.required">Bạn chưa nhập số lượng mã
                    </div>
                    <div *ngIf="f.amount.errors.min">Số lượng phải là số lớn hơn 0</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label>Giá bán</label>
                <div>
                  <input type="number" formControlName="price" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.price.errors }" placeholder="Giá bán cho mỗi mã" />
                  <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                    <div *ngIf="f.price.errors.required">Bạn chưa giá bán
                    </div>
                    <div *ngIf="f.price.errors.min">Giá bán phải là số lớn hơn 0</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label>Địa chỉ bất động sản</label>
                <div>
                  <input type="text" formControlName="address" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
                  <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                    <div *ngIf="f.address.errors.required">Bạn chưa địa chỉ bất động sản
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <h4>Thông tin về bất động sản</h4>
          <div class="form-row text-center">
            <div class="col-12">
              <button class="btn btn-outline-primary btn-rounded waves-effect btn-sm" (click)="inputFile.click()">
                <span><i class="fa fa-cloud-upload" aria-hidden="true"></i>Thêm hình ảnh</span>
              </button>
              <input type='file' style="display: none" (change)="onSelectFile($event)" multiple #inputFile>
            </div>
          </div>
          <div class="row">
            <div class="col-3 col-md-3 col-sm-6 col-xs-6" *ngFor="let index of urls; index as i">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <span class="pull-right clickable" data-effect="fadeOut" (click)="removeImage(i)"><i
                      class="fa fa-times"></i></span>
                </div>
                <div class="panel-body">
                  <img [src]="urls[i]" width="100%" height="auto"><br />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <h4>Mô tả</h4>
                <div>
                  <app-ngx-editor [placeholder]="'Nhập mô tả ...'" height="100px" formControlName="description"
                    [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
                  </app-ngx-editor>
                  <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                    <div *ngIf="f.description.errors.required">Bạn chưa mô tả
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row text-center">
            <div class="col-12">
              <button type="submit" class="btn btn-success btn-lg mr-2">Tạo bất động sản</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>