<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="assets/images/faces/face1.jpg" alt="profile image">
          </div>
          <div class="text-wrapper">
            <p class="profile-name">{{currentUser}}</p>
            <div>
              <small class="designation text-muted">{{currentUserRole}}</small>
              <span class="status-indicator online"></span>
            </div>
          </div>
        </div>
        <a class="btn btn-success btn-block" *ngIf="isUser"[routerLink]="['/exchange']" routerLinkActive="router-link-active">Mua mã
          <i class="mdi mdi-plus"></i></a>
        <a class="btn btn-success btn-block" *ngIf="isAdmin" [routerLink]="['/create']" routerLinkActive="router-link-active">Tạo mã
          <i class="mdi mdi-plus"></i></a>
        <a class="btn btn-success btn-block" *ngIf="isSeller" [routerLink]="['/create-estate']" routerLinkActive="router-link-active">Tạo bất động sản
          <i class="mdi mdi-plus"></i></a>
      </div>
    </li>
    <li class="nav-item" *ngIf="isUser">
      <a class="nav-link" routerLink="/sell" routerLinkActive="active">
        <i class="menu-icon mdi mdi-credit-card-multiple"></i>
        <span class="menu-title">Bán mã</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="isSeller || isAdmin">
      <a class="nav-link" routerLink="/list-estate" routerLinkActive="active">
        <i class="menu-icon mdi mdi-city"></i>
        <span class="menu-title">Bất động sản</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="isUser || isSeller">
      <a class="nav-link" routerLink="/history" routerLinkActive="active">
        <i class="menu-icon mdi mdi-library-books"></i>
        <span class="menu-title">Lịch sử giao dịch</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="isUser || isSeller">
      <a class="nav-link" routerLink="/asset" routerLinkActive="active">
        <i class="menu-icon mdi mdi-home"></i>
        <span class="menu-title">Tài sản</span>
      </a>
    </li>
  </ul>
</nav>