<h1 mat-dialog-title>Mua chứng chỉ quỹ</h1>
<div mat-dialog-content>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-5">
          <h4 style="font-weight: bold; text-align: center">Tên Mã</h4>
        </div>
        <div class="col-lg-7">
          <div class="row">
            <div class="col-lg-4">
              <span>%(24h)</span>
              <h5 style="color: green">0.56</h5>
            </div>
            <div class="col-lg-4">
              <span>Giá bán</span>
              <p>10,000,000</p>
            </div>
            <div class="col-lg-4">
              <span>Số lượng</span>
              <p>0/1000</p>
            </div>
          </div>
        </div>
      </div>
      <form class="form-sample">
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label>Số lượng</label>
              <div>
                <input type="text" class="form-control" value="">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Thành tiền</label>
              <div>
                <input type="number" class="form-control" disabled />
              </div>
            </div>
          </div>
        </div>
        <div class="=form-row text-center">
          <div class="col-12">
            <button class="btn btn-success btn-lg mr-2">Mua</button>
            <button class="btn btn-danger btn-lg" (click)="onNoClick()">Hủy</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>