<div class="row">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <ngb-carousel>
              <ng-template ngbSlide>
                <img src="https://lorempixel.com/900/500?r=1" alt="Random first slide" height="auto" width="100%">
              </ng-template>
              <ng-template ngbSlide>
                <img src="https://lorempixel.com/900/500?r=2" alt="Random second slide" height="auto" width="100%">
              </ng-template>
              <ng-template ngbSlide>
                <img src="https://lorempixel.com/900/500?r=3" alt="Random third slide" height="auto" width="100%">
              </ng-template>
            </ngb-carousel>
          </div>
          <div class="col-md-4">
            <h3 class="font-weight-bold">Mã</h3>
            <div class="bg-light row p-2 mb-2">
              <div class="col-8 d-flex align-items-center">
                <span class="text-primary display-4">1000000</span>
              </div>
              <div class="col-4 d-flex align-items-center">
                <h5 style="color: green">0.56<i class="mdi mdi-arrow-up"></i></h5>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <p>Số lượng</p>
              </div>
              <div class="col-6">
                <p class="mb-2">
                  1000
                </p>
              </div>
            </div>
            <div class="row text-center d-flex align-items-center">
              <div class="col-12">
                <a class="btn btn-primary btn-lg mr-2" [routerLink]="['/exchange']"
                  routerLinkActive="router-link-active">Mua</a>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title font-weight-bold">Thông tin về bất động sản</h4>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy
                  text ever since the 1500s, when an unknown printer took a galley not only five centuries,
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>